.footer-container {
    width: 100%;
    padding: 40px 30px;
    margin: 5px;
    background: #1b1b1b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    box-sizing: border-box; /* prevents overflow */
    overflow-x: hidden; /* hard stop */
}


/* Left Logo Area */
.footer-left {
    flex: 1;
    min-width: 200px;
}


.footer-logo {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Middle Links Area */
.footer-links {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    min-width: 300px;
}

.footer-col h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col li {
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.footer-col li:hover {
    color: #ffcc4d;
}

/* Right Social Icons Area */
.footer-social h4 {
    margin-bottom: 12px;
    font-size: 18px;
}

.social-icons i {
    font-size: 22px;
    margin-right: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.social-icons i:hover {
    color: #ffcc4d;
}

/* Mobile Responsive */
@media (max-width: 700px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        grid-template-columns: repeat(2, 1fr);
    }

    .social-icons i {
        margin-right: 12px;
    }
}

@media (max-width: 450px) {
    .footer-links {
        grid-template-columns: 1fr;
    }
}
